*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Borel', cursive;
  font-family: 'Gasoek One', sans-serif;
  font-family: 'Outfit', sans-serif;
  background-color: var(--primary-black);
}

/*#######################
Colors
#######################*/
:root {
  --primary-black: #000000;
  --white: #FFFFFF;
  --light-gray: #F8F8F8;
  --dark-gray: #333333;
  --accent-blue: #007BFF;
}

/* Primary Black: #000000 (for background and header)
White: #FFFFFF (for text and accents)
Light Gray: #F8F8F8 (for subtle background variations)
Dark Gray: #333333 (for borders and accents)
Accent Color (Blue): #007BFF (for highlighting important elements) */
